.file-transactions-error {
  color: #d32f2f;
  margin-bottom: 1rem;
  text-align: center;
}

.file-transactions-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.file-transactions-table-container {
  transition: min-height 0.3s;
}

.file-transactions-table-container.compact {
  min-height: 4rem; /* Compact height when empty */
}

.file-transactions-table-container.expanded {
  min-height: calc(11 * 3.25rem); /* Original height when there are results */
}