.home-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.home-container-title{
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-primary);
  margin-bottom: 0;
}
