.login-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
}

.login-primary-text{
    font-size: 5rem;
    font-weight: bold;
    color: transparent;
    background-image: url('istock-19272679-medium.jpg'); 
    background-size: 300%;
    background-position: 50% 40%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 2s ease-in forwards, pulse 2s 2s infinite;
}

.login-secondary-text  {
    opacity: 0;
    font-size: 1.5rem;
    color: var(--text-secondary);
    margin-top: 1rem;
    animation: fadeIn 5s ease-in forwards 2s;
}

.login-message-container{
    display: flex;
    flex-direction: row;
}

.login-third-text{
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
  0%   { opacity: 1; }
  50%  { opacity: 0.6 }
  100% { opacity: 1; }
}