.sidebar-container {
  display: flex;
  inline-size: 15vw;
  padding: 0.5rem;
  background: var(--bg-secondary);
}

.sidebar-nav-container {
  display: flex;
  flex-direction: column;
  flex-basis: 16.25rem;
}

.sidebar-header-container {
  display: flex;
  flex-direction: column;
}

figure {
  flex-direction: column;
  justify-content: center;
  container-type: inline-size;
  display: flex;
  gap: 1rem;
  margin-inline: 0;
  figcaption {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-primary);
    text-align: center;
  }
}

.sidebar-logo {
  margin-inline: auto;
  max-inline-size: 40cqi;
  min-inline-size: 2.25rem;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.sidebar-li{
  block-size: 2.25rem;
}

.sidebar-li-header{
  display:flex;
  align-content: flex-end;
  color: var(--text-secondary);
  font-weight: 350;
  align-items: flex-end;
}

.sidebar-li-a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  block-size: 100%;
  text-decoration: none;
}

.sidebar-li-a:hover {
  background: var(--hover-bg);
  color: var(--accent-primary);
  text-decoration: underline;
  transition: background 0.2s, color 0.2s;
  border-radius: 5px;
}

.sidebar-icon {
    aspect-ratio: 1;
    block-size: 100%;
    display: inline-grid;
    svg {
        place-self: center;
        inline-size: var(--svg);
        block-size: var(--svg);
        fill: var(--accent-primary);
    }
}

.sidebar-text {
    font-size: 1rem;
    color: var(--text-primary);
    font-weight: 600;
    color: var(--text-secondary);
}