#root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0 auto;
  min-width: 100vh;
}

.app-container {
  animation: fadeInUp 1.5s ease-out;
  min-height: 100vh;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-content {
  text-align: center;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  line-height: 1.3;
}