#root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0 auto;
  min-width: 100vh;
}

.app-container {
  animation: fadeInUp 0.6s ease-out;
  height: 100vh;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-content {
  text-align: center;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  line-height: 1.3;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

